*{
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
}
body{
    background-color: black;
    color: white;
}
header{
    margin-top: 154px;
    margin-left: 200px;
    font-size: 25px;
}
main{
     margin-left: 200px;
     margin-right: 200px;
     font-size: 14px;
}
input[type=radio]{
    color: black;
}
/* input[type=date]{
    color: transparent;
}
.active input[type=date]{
    color: white;
} */
input{
    background-color: black;
    border: none;
    color: white;
}
button{
    position: absolute;
    color: black;
    background-color: white;
    width: 120px;
    height: 28px;
}

hr{
    /* width: 70%; */
    margin-top: 2px;
}
input[type=radio]{
    accent-color: black;
}
input[type=checkbox]{
    accent-color: black;
}